@font-face {
    font-family: 'visby-regular', sans-serif;
    src: url(../fonts/Visby-CF/Fontspring-DEMO-visbycf-regular.otf);
    font-display: swap;
}

@font-face {
    font-family: 'visby-semibold', sans-serif;
    src: url(../fonts/Visby-CF/Fontspring-DEMO-visbycf-medium.otf);
    font-display: swap;
}

@font-face {
    font-family: 'visby-bold', sans-serif;
    src: url(../fonts/Visby-CF/Fontspring-DEMO-visbycf-demibold.otf);
    font-display: swap;
}